.shadow {
	-moz-box-shadow:     0 0 8px 0px #00000033;
	-webkit-box-shadow:  0 0 8px 0px #00000033;
	box-shadow:          0 0 8px 0px #00000033;
}

.full-width {
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;	
}

table {
	border-collapse: collapse;
	background-color: #fff;
}

th, td {
	padding: 5px 10px;
	border: 1px solid #999;
	font-family: monospace;
	text-align: right;
	font-size: 11px;
	width: 6.0000%;
}

th {
	background-color: #eee;
	font-family: 'Open Sans';
	text-align:center;
}

th[data-sort]{
	cursor:pointer;
}

th:first-child, 
td:first-child {
	font-family: 'Open Sans';
	font-weight: bold;
	width: 16%;
	min-width: 16%;
	max-width: 16%;
}

th:nth-child(2), 
td:nth-child(2),
th:nth-child(7), 
td:nth-child(7), 
th:nth-child(8), 
td:nth-child(8), 
th:nth-child(9), 
td:nth-child(9), 
th:nth-child(10), 
td:nth-child(10) {
	display: none;
}

td.high {
	background-color: #ff8a8a7f;
}

td.medium {
	background-color: #f5ca5d7f;
}

td.low {
	background-color: #fff9877f;
}

td.zero {
	color: #aaa;
}

#data > tbody > tr:hover {
	background-color: #00000021;
}

#data > thead > tr > th:hover {
	background-color: #ddd;	
}

#data > tbody > tr > td:hover {
	box-shadow: inset 0px 0px 0px 2px #00000030;
}

#graphcontainer1 {
	width:  50%; 
	height: 50px;
	float:  left;
}

#graphcontainer2 {
	width:  50%; 
	height: 50px;
	float:  right;
}

#stickytop {
	position: sticky;
	height: 360px;
	width: 100%;
}

body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background: rgb(64,64,64);
	background: linear-gradient(0deg, rgba(64,64,64,1) 0%, rgba(128,128,128,1) 100%);
	font-size: 13px;
	margin: 0;
	overflow: hidden;
}

h1 {
	font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #eee;
    font-weight: 100;
}

#search {
	width: 100%;
}

.sorting-desc {
	color:red;
}

.sorting-asc {
	color:green;
}

.black-box-header {
	background-color: black;
	color: white;
	margin-top: -25px;
	margin-bottom: 0px;
}

#cpbtn {
	display: inline-block;
	width: 160px;
	cursor:pointer;
	font-size: 12px;
	color: #bae0f7;
}

#cpbtn:hover {
	color: #6eaed4;
}

#url {
	color: black;
	font-size: 10px;
}

.div-tooltip {
  display: none;
  position: absolute;
  background-color: #000;
  padding: 10px;
  color: #fff;
  font-size: 12px 'Open Sans';
  border-radius: 5px;
}

#graph {
	padding-top:10px;
	padding-bottom:10px;
	height:170px;
	background-color: #000000a8;
}

#datablock {
    top: 360px;
    bottom: 165px;
    width: 100%;
    height: auto;
    position: absolute;
    overflow-y: overlay;
}

#datacontainer > p {
	color: white; 
	font-size: 14px;
}

#infobox {
	background-color: #6b6b6b; 
	height: 140px;
	margin-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	position: absolute;
}

#infobox > p {
    float: left;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

#infobox > pre {
	float: left;
	text-align: left;
	padding-left: 5px;
}

.tooltipColumnLabel {
	width: 180px;
    display: inline-block;
    text-align: left;
}

.tooltipColumn1 {
	width: 100px;
    display: inline-block;
    text-align: left;
}

.tooltipColumn2 {
	width: 190px;
    display: inline-block;
    text-align: left;
}

.tooltipColumn3 {
	width: 80px;
    display: inline-block;
    text-align: left;
}

.tooltipColumn4 {
	width: 160px;
    display: inline-block;
    text-align: left;
}

#pageTitle {
    padding-bottom: 19px;
    padding-top: 19px;
}
